@use 'constants';

@use './fonts';
@use './codeblock';
@use './blog';
@use './mdx';
@use './katex';

@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

// TODO: Handle darkmode

:root {
  --color-primary: #0066ff;
}

.dark {
  --color-primary: #ffd000;
  --bg: #1e1e1e;
}

html {
  font-size: constants.$fontSize-root;
}

body {
  color: constants.$color-text;
  background: constants.$bg-color-primary;
  font-family: constants.$font-body !important;
  font-weight: constants.$fontWeight-normal;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: constants.$fontWeight-bold;
  margin-top: constants.$spacing-3;
  margin-bottom: constants.$spacing-3;
  letter-spacing: -0.025em;
}

h1 {
  font-size: constants.$fontSize-6;
}

h2 {
  font-size: constants.$fontSize-5;
}

h3 {
  font-size: constants.$fontSize-4;
}

h4 {
  font-size: constants.$fontSize-3;
}

// Custom headings
.huge {
  font-size: constants.$fontSize-7;
}

// Code blocks
pre {
  font-family: constants.$fontFamily-mono;
  padding: constants.$spacing-2;
  margin: constants.$spacing-6 0;
  border-radius: constants.$rounded-1;
  overflow-x: auto;
}

code {
  font-family: constants.$fontFamily-mono;
  padding: constants.$spacing-05 constants.$spacing-1;
  border-radius: constants.$rounded-1;
  margin: 0 constants.$spacing-05;
  font-size-adjust: 0.47;
}

// Custom classes
.monospace {
  font-family: constants.$fontFamily-mono;
}

.text-highlight {
  color: var(--color-primary) !important;
}

.category-dot {
  box-shadow: 0 0 0 4px #00000011, 0 0 0 8px white;
}

.dark {
  .category-dot {
    box-shadow: 0 0 0 4px #ffffff11, 0 0 0 8px var(--bg);
  }
}

.copy-button {
  font-family: constants.$fontFamily-sans;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide scrollbar for webkit browsers */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }


}
