@import "./constants.css";

code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent;

  color: #383a42; /* base00 */
  /* font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; */
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  font-size: 0.92rem;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fafafa; /* base3 */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1; /* base1 */
}

.token.punctuation {
  color: #383a42; /* base01 */
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #4078f2; /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: #2aa198; /* cyan */
}

.token.entity {
  color: #657b83; /* base00 */
  background: #eee8d5; /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #d33d48; /* green */
}

.token.function {
  color: #7241c1; /* yellow */
}

.token.regex,
.token.important,
.token.variable {
  color: #d33d48; /* orange */
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

code.language-text {
  border-radius: 2px !important;
  padding-left: var(--spacing-1) !important;
  padding-right: var(--spacing-1) !important;
  background-color: var(--color-code-background) !important;
  font-size: var(--fontsize-1);
  font-weight: 500;
}
