/* CSS Custom Properties Definitions */

@use 'constants';

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");


/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: constants.$lineHeight-normal;
  font-size: constants.$fontSize-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: constants.$font-body;
  font-size: constants.$fontSize-1;
  color: constants.$color-text;
}

section {
  word-break: break-all;
  text-overflow: ellipsis;
}

code {
  font-family: constants.$fontFamily-mono;
  font-weight: 500;
  border-radius: 2px;
  background-color: constants.$color-code-background;
}

footer {
  padding: constants.$spacing-6 constants.$spacing-0;
}

hr {
  background: constants.$color-accent;
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: constants.$font-heading;
  margin-top: constants.$spacing-12;
  margin-bottom: constants.$spacing-6;
  line-height: constants.$lineHeight-tight;
  letter-spacing: -0.025em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: constants.$fontWeight-bold;
  color: constants.$color-heading;
}

h1 {
  /* font-weight: constants.$fontWeight-black; */
  font-size: constants.$fontSize-7;
  color: constants.$color-heading-black;
}

h2 {
  font-size: constants.$fontSize-6;
}

h3 {
  font-size: constants.$fontSize-4;
}

h4 {
  font-size: constants.$fontSize-3;
}

h5 {
  font-size: constants.$fontSize-2;
}

h6 {
  font-size: constants.$fontSize-1;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: constants.$lineHeight-relaxed;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: constants.$spacing-0 constants.$spacing-0 constants.$spacing-8 constants.$spacing-0;
  padding: constants.$spacing-0;
  font-weight: constants.$fontWeight-medium;
}

ul,
ol {
  /* margin-left: constants.$spacing-0; */
  margin-right: constants.$spacing-0;
  padding-left: constants.$spacing-0;
  margin-bottom: constants.$spacing-8;
  list-style-position: outside;
  /* list-style-image: none; */
  font-weight: constants.$fontWeight-medium;
}

ol {
  padding-left: constants.$spacing-8;
}

li > p:first-child {
  display: inline-block;
  /* padding-bottom: constants.$spacing-4; */
}

section > ol {
  padding-left: constants.$spacing-0;
}

ul li,
ol li {
  padding-left: constants.$spacing-0;
  margin-bottom: calc(constants.$spacing-8 / 2);
}

li > p {
  margin-bottom: calc(constants.$spacing-8 / 2);
}

li *:last-child {
  margin-bottom: constants.$spacing-0;
}

li > ul {
  margin-left: constants.$spacing-8;
  margin-top: calc(constants.$spacing-8 / 2);
}

blockquote {
  color: constants.$color-text-light;
  margin-left: calc(-1 * constants.$spacing-6);
  margin-right: constants.$spacing-8;
  padding: constants.$spacing-0 constants.$spacing-0 constants.$spacing-0 constants.$spacing-6;
  border-left: constants.$spacing-1 solid constants.$color-primary;
  font-size: constants.$fontSize-2;
  font-style: italic;
  margin-bottom: constants.$spacing-8;
}

blockquote > :last-child {
  margin-bottom: constants.$spacing-0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: constants.$spacing-8;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid constants.$color-accent;
}

/* Link */

a {
  color: constants.$color-primary;
}

a:hover,
a:focus {
  text-decoration: none;
}

figure {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figcaption {
  color: constants.$color-text-light;
}

/* Custom classes */

.most-outer-wrapper {
  margin: 0 auto;
}

.global-header {
  display: block;
  margin: 0 auto;
  padding-left: constants.$spacing-side;
  padding-right: constants.$spacing-side;
}

.gh-inner {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 0.8fr;
  grid-auto-flow: row dense;
  max-width: constants.$maxWidth-index;
  align-items: center;
}

.gh-inner-brand {
  justify-self: start;
  display: flex;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 1;
  height: 80px;
}

.gh-inner-menus {
  justify-self: start;
  grid-row-start: 2;
}

.nav {
  margin: 0 auto;
  padding-left: 0;
  display: flex;
  list-style: none;
}

.nav li {
  margin-bottom: 0;
  font-weight: 600;
}

.nav a,
footer a {
  color: inherit;
  text-decoration: none;
}

.nav-about,
.nav-donation {
  margin-left: constants.$spacing-8;
}

.gh-hr {
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  width: 100vw;
  max-width: 100%;
}
.hr-1 {
  top: 80px;
}
.hr-2 {
  position: absolute;
  top: 131px;
}

.global-wrapper {
  margin: 0 auto;
  padding-left: constants.$spacing-side;
  padding-right: constants.$spacing-side;
}

.global-wrapper > main {
  margin: 0 auto;
}

.global-wrapper[data-is-root-path="false"] > main {
  padding-top: constants.$spacing-10; 
  display: grid;
  grid-template-columns: 1fr constants.$maxWidth-wrapper minmax(300px, 1fr);
  column-gap: constants.$spacing-5;

  .bio {
    grid-column: 2 / 3;
  }
}

.global-wrapper[data-is-root-path="true"] > main {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-row: 1fr auto;
  column-gap: constants.$spacing-10;
  max-width: constants.$maxWidth-index;
}

main {
  .article-first {
    grid-column: 1 / 3;
  }
  .bio {
    grid-column: 1 / 3;
  }
  .blog-post-nav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .utterances-wrapper {
    grid-column: 2 / 3;
  }
}

.other-posts {
  margin: 0;
  padding-left: 0;
}

.gh-footer-wrapper {
  margin: 0 auto;
  padding-left: constants.$spacing-side;
  padding-right: constants.$spacing-side;
}

.gh-footer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: constants.$color-text-light;
  max-width: constants.$maxWidth-index;
  list-style: none;
}

.gh-footer-items {
  margin: 0;
}
.gh-footer-contact {
  justify-self: center;
}
.gh-footer-source {
  justify-self: end;
}

.article-first {
  margin-top: constants.$spacing-32;
  margin-bottom: constants.$spacing-32;

  p {
    font-size: constants.$fontSize-3;
  }
}

.text-accent {
  color: constants.$color-primary;
  font-weight: constants.$fontWeight-bold;
}

.main-heading {
  font-size: constants.$fontSize-7;
  margin: 0;
  display: inline;
  box-shadow: inset 0 -1rem 0 constants.$color-highlight;
}

.post-list-item {
  margin-bottom: constants.$spacing-8;
  margin-top: constants.$spacing-8;

  p {
    margin-bottom: constants.$spacing-0;
  }

  header {
    margin-bottom: constants.$spacing-4;
  }
}

.article-first h1,
.post-list-item h2 {
  margin-bottom: constants.$spacing-2;
  margin-top: constants.$spacing-0;
  transition: 0.3s;
}
.article-first h1:hover,
.post-list-item h2:hover {
  color: constants.$color-primary;
}

.category-wrapper h2 {
  margin-top: constants.$spacing-8;
}

.category-box {
  list-style: none;
  padding-left: 0;
}

.categories {
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    color: constants.$color-primary;
    cursor: pointer;
  }

  &[is-selected="true"] {
    font-size: constants.$fontSize-2;
    text-decoration: underline;
    list-style-type: "➤  ";
  }
}

.header-link-home {
  font-weight: constants.$fontWeight-bold;
  font-family: constants.$font-heading;
  text-decoration: none;
  font-size: constants.$fontSize-2;
}

.bio {
  display: flex;
  align-items: center;
  margin-top: constants.$spacing-8;
  margin-bottom: constants.$spacing-8;

  p {
    margin-bottom: constants.$spacing-0;
  }
}

.bio-avatar {
  margin-right: constants.$spacing-4;
  margin-bottom: constants.$spacing-0;
  min-width: 50px;
  border-radius: 100%;
}

.blog-post {
  header {
    h1 {
      margin: constants.$spacing-0 constants.$spacing-0 constants.$spacing-4 constants.$spacing-0;
    }
    p {
      font-size: constants.$fontSize-2;
      font-family: constants.$font-heading;
    }
  }
}

.blog-post-nav ul {
  margin: constants.$spacing-0;
}

.gatsby-highlight {
  margin-bottom: constants.$spacing-8;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: constants.$spacing-0 constants.$spacing-0 constants.$spacing-0 constants.$spacing-4;
    margin-left: constants.$spacing-0;
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

@media (max-width: 1200px) {
  /* .toc-wrapper {
    display: none;
  }
   */
  
  .global-wrapper[data-is-root-path="false"] > main {
    display: flex;
    max-width: constants.$maxWidth-wrapper;
    flex-direction: column;
  }

  .sidenotes-wrapper {
    /* padding-top: constants.$spacing-4; */
  }
  
  .sidenotes-wrapper > .sn-ref {
    max-width: constants.$maxWidth-wrapper !important;
    position: static !important;
    margin: constants.$spacing-4 auto;
  }
}

@media (max-width: 767px) {
  :root {
    --spacing-side: 1rem;
  }

  main .article-first,
  main .bio {
    grid-column: 1 / 2;
  }

  .article-first {
    margin-top: constants.$spacing-20;
    margin-bottom: constants.$spacing-20;
  }

  .global-wrapper[data-is-root-path="true"] main {
    grid-template-columns: 1fr;
    grid-row: 1fr auto;
    column-gap: 0;
  }

  .categories[is-selected="true"] {
    list-style-type: none;
  }
}
